* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box
}

body {
  background: #999;
}

body,
input {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-search input.search {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 600px;
  outline: none;

  font-size: 1.2rem;
}

.form-search input.search:focus {
  border: 2px solid #f00;
}